[alias]
	s = status
    ci = commit
    co = checkout
    b = branch
    cp = cherry-pick
    a = add
    cl = clone
    d = diff
	dc = diff --cached
    f = fetch
    g = grep
    i = init
    l = log
[push]
	default = simple
[core]
	autocrlf = input

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[user]
	email = peli@boozt.com
	name = Peter Lind
	signingkey = 5B5566F6EEBBD3FB
[pull]
	rebase = false
[oh-my-zsh]
	hide-dirty = 1
[init]
	defaultBranch = main
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgsign = true
