[alias]
	s = status
    ci = commit
    co = checkout
    b = branch
    cp = cherry-pick
    a = add
    cl = clone
    d = diff
    f = fetch
    g = grep
    i = init
    l = log
[push]
	default = simple
[core]
	autocrlf = input

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
